<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myschedule.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ScheduleApp</name>
    <description>My Mechanical Engineering Schedule</description>
    <author email="me@example.com" href="http://example.com">Me</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidXEnabled" value="true" />
</widget>
